[Global]
; Command the bot should listen for
BOT_COMMAND_STR = !CTP
; Disable to stop the bot from posting comments
ENABLE_COMMENTS = True
; Account the bot will post from
ACCOUNT_NAME = ctpbot
; Posting key for the account
ACCOUNT_POSTING_KEY = 
; Active key for Hive-Engine transfers
ACCOUNT_ACTIVE_KEY = 
; Hive API node to use for read/write ops
HIVE_API_NODE = https://anyx.io

[HiveEngine]
; Name of Hive-Engine token for gifting
TOKEN_NAME = CTP
; Disable to stop the bot from making token transfers
ENABLE_TRANSFERS = True
; Amount the bot should give when invoked
TOKEN_GIFT_AMOUNT = 0.1
; List of users to block from sending and receiving gifts
GIFT_BLOCK_LIST = 

[AccessLevel1]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 1000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 10
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 3


[AccessLevel2]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 5000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 20
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 5

[AccessLevel3]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 20000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 30
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 7

[AccessLevel4]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 100000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 40
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 9
